/*====  RESETS ============================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*====  VARIABLES ============================ */
:root {
    /* colors */
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --border-color: #00FF00;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
    
    /* fonts */
    --title-font-size: 1.875rem;
    --subtitle-font-size: 1rem;
    
    --body-font: 'Merriweather Sans', sans-serif;
}

/*===  BASE ============================ */
html {
    scroll-behavior: smooth;
}

body {
    font: 400 1rem var(--body-font);
    color: var(--text-color);
    background: var(--body-bg-color);
    -webkit-font-smoothing: antialiased;
}

.title {
    font: 700 var(--title-font-size) var(--body-font);
    color: var(--text-color);
    -webkit-font-smoothing: auto;
}

.portfolios {
    width: 100%;
    background: var(--body-bg-color);
    padding-left: 2.5rem;
    padding-top: 2.5rem;
}

.portfolio {
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 1fr 1fr;
}

.box-left .section {
    padding: 2.5rem;
    
    margin-right: 2rem;
    margin-bottom: 2.5rem;

    background: var(--bg-cards);
    border-radius: 1.2rem;
    box-shadow: 3px 3px 2px rgba(17, 15, 15, 0.3);
}

.box-right .section {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    padding-left: 1.875rem;

    margin-right: 2.5rem;
    margin-bottom: 1.875rem;
    margin-left: 1.75rem;

    background: var(--bg-cards);
    border-radius: 1.2rem;
    box-shadow: 3px 3px 2px rgba(17, 15, 15, 0.3);
}

/*====  LAYOUT ============================ */
.grid {
    display: grid;
}

#profile .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile .image {
    content: '';
    width: 8rem;
    height: 8rem;

    background: black;
    border-radius: 100%;

    margin-bottom: 1.875rem;
    border: 2px solid var(--border-color)
}

#profile .text {
    text-align: center;
}

#profile .text h1 {
    font-size: 1.5rem;
    margin-bottom: 0.625rem;
}

#profile .text p {
    font-size: var(--subtitle-font-size);
}

/*====  SOCIAL ============================ */
#social .container {
    display: flex;
    flex-direction: column;
}

#social a {
    display: flex;
    color: var(--bg-techs);

    margin-bottom: 1.75rem;
}

#social img {
    margin-right: 1.25rem;
}

/*====  TECHNOLOGIES ============================ */
.grid-template-columns-3 {
    grid-template-columns: repeat(3,1fr);
}

 #technologies header {
    margin: -1rem 0 1.25rem -1rem;
 }

#technologies .cards {
    margin-left: -.5rem;
    margin-right: -.5rem;
}

#technologies .cards .card {
    background: var(--bg-techs);
    color: black;
    margin: .5rem; 
    
    text-align: center;
    justify-content: center;
    align-items: center;

    font-size: .8rem; /* qualquer coisa eu troco aqui*/
    font-weight: bolder;
    border-radius: 1rem;

    padding: .5rem 0;  
}

/*====  TECHNOLOGIES ============================ */
#experience header {
    margin: -1rem 0 1.25rem -1rem;
}

#experience ul {
    list-style: disc;
}

#experience ul li {
    margin-bottom: 1rem;
    margin-left: 2.5rem;
}

#experience ul li p {
    font-size: 1.2rem;
}


#experience ul li p:first-child {
    font-weight: bolder;
}

#experience ul li p:last-child {
    font-size: .9rem;
}

#experience ul li span {
    font-size: .8rem;
}

/*====  EDUCATION ============================ */
#education header {
    margin: -1rem 0 1.25rem -1rem;
}

#education ul {
    list-style: disc;
}

#education ul li {
    margin-bottom: 1rem;
    margin-left: 2.5rem;
}

#education ul li p {
    font-size: 1.2rem;
    font-weight: bolder;
}

#education ul li span {
    font-size: .8rem;
}

/*====  MY-PROJECTS ============================ */
#my-projects {
    margin-left: 1rem;
    margin-right: 2.5rem;

    /* grid-area: my-projects; */
}

#my-projects .container .text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#my-projects .text p {
    margin-right: 1.875rem;
}